<div class="card my-3 mx-auto" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-4">
      <img src="{{#if user.image}}{{user.image}}{{else}}https://i.imgur.com/TmLy5dw.png{{/if}}"
        style="width: 150px; height: 150px">
    </div>
    <div class="col-8 d-flex align-items-center">
      <div class="card-body d-flex justify-content-between align-items-center">
        <div>
          <h5 class="card-title">{{user.name}}</h5>
          <p class="card-text">{{user.email}}</p>
        </div>
        {{#ifCond this.id ../userId}}
        <div class="pr-2">
          <a href="/users/{{ user.id }}/edit" class="btn btn-primary">Edit</a>
        </div>
        {{/ifCond}}
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="restaurant-activity col-12">
    <div class="card mt-3" style="max-height: 25rem;">
      <div class="card-header font-weight-bold d-flex align-items-center">
        已評論餐廳 <span class="badge badge-pill badge-secondary font-weight-bold ml-1">{{ restaurants.length }}</span>
      </div>
      <div class="card-body d-flex flex-wrap justify-content-start">
        {{#each restaurants}}
        <a class="d-flex flex-column mx-2 mt-2" data-toggle="tooltip" data-placement="top" title="{{this.name}}"
          href="/restaurants/{{ this.RestaurantId }}">
          <img src="{{ this.image }}" alt="" class="rounded-top mx-auto" style="width: 75px; height: 75px;">
          <span class="badge badge-secondary">{{ this.count }}</span>
        </a>
        {{/each}}
      </div>
    </div>
  </div>